@import '~@angular/material/theming';


$primary: (50 : #e9f1f9,
100 : #cddbe5,
200 : #b1c3d1,
300 : #93aabb,
400 : #7c97aa,
500 : #283944,
600 : #283944,
700 : #283944,
800 : #283944,
900 : #283944,
contrast: (50 : #000000,
100 : #000000,
200 : #000000,
300 : #ffffff,
400 : #ffffff,
500 : #ffffff,
600 : #ffffff,
700 : #ffffff,
800 : #ffffff,
900 : #ffffff,
A100 : #ffffff,
A200 : #ffffff,
A400 : #ffffff,
A700 : #ffffff,
));

$secondary: (50 : #dff2f2,
100 : #b0e0dc,
200 : #7cccc6,
300 : #43b8af,
400 : #02a89d,
500 : #006b5e,
600 : #006b5e,
700 : #006b5e,
800 : #006b5e,
900 : #006b5e,
A100 : #fdb319,
A200 : #fca017,
A400 : #fb9015,
A700 : #fa7112,
contrast: (50 : #000000,
100 : #000000,
200 : #000000,
300 : #000000,
400 : #000000,
500 : #ffffff,
600 : #ffffff,
700 : #ffffff,
800 : #ffffff,
900 : #ffffff,
A100 : #000000,
A200 : #000000,
A400 : #000000,
A700 : #000000,
));

@include mat-core();

// Define the default theme (same as the example above).
$venvan-app-primary: mat-palette($primary);
$venvan-app-accent: mat-palette($secondary, A200, A100, A400);
$venvan-app-theme: mat-light-theme($venvan-app-primary, $venvan-app-accent);

// Include the default theme styles.
@include angular-material-theme($venvan-app-theme);
